# P3. Exploration SQL

Le répertoire `/db` contient une base de données SQLite3 `olympics.sqbpro` reprenant les résultats des épreuves des jeux d'été pour une période donnée (cf P1 & P2).

On s'intéresse dans le cadre de cette partie P3 à l'exploration via SQL des résultats des JO d'été (table : `summer`).

---

### Question 1: Qu'est ce que SQL ?

SQL sigle de **Structured Query Language** qui signifie Langage de requête structurée est un langage normalisé invité en **1974** par ***Donald D chamberlin et raymond F boyce***.

Normalisé en 1986 il est utilisé dans les SGBD(R) : **Système** de **Gestion** de **Base** de **Donnée** (**Relationnel**) comme par exemple : ***Oracle , MySQL, SQLserver...etc***

### Question 2: Qu'est ce que SQLite 3 ? Avantages et/ou Inconvénients ?

SQLite est un système de base de données qui a la particularité de fonctionner sans serveur, on dit aussi ***standalone*** ou ***base de données embarquée***.

Il s'utiliser avec beaucoup de langages comme  PHP, Python, , Java, C/C++,...

##### Avantage:
Très léger et rapide à mettre en place
on peut s'en servir pour :
- stocker des données dans une vraie base de données sur une application pour smartphone (iPhone ou Android)
- une application Windows, ou sur un serveur web.

Performante et facile à utiliser , d'ailleurs ces performances sont même comparables aux autres SGBD fonctionnant avec un serveur comme MySQL, Microsoft SQL Server ou PostgreSQL.

##### Inconvénients:

- Écritures atomiques (avec SQLite, un seul processus peut écrire dans la base)
- Pas de réplication (On ne peut pas créer des copies du serveur de base de données MySQL de façon à pouvoir répartir la charge (load-balancing) et ainsi pouvoir répondre à de fortes demandes, sur les sites à grande audience (comme facebook par exemple).

### Question 3: Donner des exemples d'autres formats de fichier pouvant être utilisé pour fournir des données similaires

CSV, JSON, XML ou XLSX

### Question 4: Quel est le type (texte ou binaire) du fichier base de données SQLite3?

Le fichier `olympics.sqbpro` est un fichier de Sauvegarde d'une base de données en format binaire.

### Question 5: Donner les caractéristiques de la table `summer` ?

##### Year , City , Sport,Discipline, Athlete,Country,Gender,Event,Medal #####
```sql
SELECT *
FROM summer
```

---
### Question 6: Combien d'enregistrements possède la table `summer` ?

```sql
SELECT count(*)
FROM summer
```

![Q6_pre](screen/+0.PNG)

### Question 7: Quelle période des JO couvre ce fichier de résultats ?

```sql
SELECT min ( Year ), max (Year)
FROM summer
```

![Q7_pre](screen/-0.PNG)

### Question 8: Indiquer les années et villes des olympiades ?

```sql
SELECT Year,City
FROM summer
GROUP by Year
```

![Q8_pre](screen/0.PNG)

### Question i:

***Q1. Combien la France a remporté de médailles d’or aux JO de 1984 ? - (Christophe)***
```sql
SELECT count(*)
FROM (
SELECT DISTINCT  Sport, Discipline, Event, Gender
FROM summer
WHERE Year = 1984 AND Country = "FRA"  AND Medal = "Gold"
GROUP BY Sport, Discipline, Event, Gender
)
```

![Q1](screen/1.PNG)

***Q2. Quel pays a le plus d’athlètes (toutes années confondues) ? (Matthias)***
```sql
SELECT count(DISTINCT Athlete)as one ,Country FROM summer
GROUP by Country 
ORDER by one DESC
limit 1
```

![Q2](screen/2.PNG)

***Q3. En 2012 combien de médailles le Japon a t-il gagné ? (Théo)***
```sql
SELECT count(Medal) FROM summer
WHERE Country='JPN'  AND Year= 2012
```

![Q3](screen/3.PNG)

***Q4. Dans quels différents sports les Grecs ont-ils gagné des médailles ? - (Corentin L)***
```sql
SELECT DISTINCT Sport FROM summer
WHERE Country = 'GRE'
```

![Q4](screen/4.PNG)

***Q5. Quel pays a remporté le plus de médailles d’or ? (Philippe)***
```sql
SELECT count(Medal)as one ,Country FROM summer
WHERE Medal='Gold'
GROUP BY country
ORDER by one DESC
limit 1
```

![Q5](screen/5.PNG)

***Q6. Combien de villes différentes ont accueilli les JO d’été entre 1896 - et 2012 ? (Yoann)***
```sql
SELECT count(DISTINCT City) FROM summer
WHERE Year BETWEEN 1896 AND 2012
```

![Q6](screen/6.PNG)

***Q7. Combien de femmes ont obtenu une médaille d’or ? (Lamia)***
```sql
SELECT count(DISTINCT Athlete) FROM summer
WHERE Medal = 'Gold' AND Gender='Women'
GROUP by Athlete
```

![Q7](screen/7.PNG)

***Q8. Combien de sports différents sont représentés par année ? (joris)***
```sql
SELECT count(DISTINCT Sport), Year FROM summer
GROUP by Year
```

![Q8](screen/8.PNG)

***Q9. Combien de fois Londres a accueilli les J.O ? (Marvin)***
```sql
SELECT count(DISTINCT Year) FROM summer
WHERE City='London'
```

![Q9](screen/9.PNG)

***Q10. Combien de joueuses comptait la sélection brésilienne de volley-ball - médaillée d’or aux J.O de 2012 ? (Corentin P)***
```sql
SELECT count(Athlete) FROM summer
WHERE Country='BRA' AND Year=2012 AND Sport='Volleyball' AND Medal='Gold'
```

![Q10](screen/10.PNG)

****Q11.Combien de femmes françaises ont participé en 2012 , quel sont leurs - médailles ? (izak)***
```sql
SELECT Athlete, Event,Medal FROM summer
WHERE Country='FRA' AND Year=2012 AND Gender='Women'
```

![Q11](screen/11.PNG)

***Q12. Quel est l’athlète qui a remporté le plus de médailles d’or ? - (mayel)***
```sql
SELECT count(Medal)as one ,Athlete FROM summer
WHERE Medal='Gold'
GROUP BY Athlete
ORDER by one DESC
limit 1
```

![Q12](screen/12.PNG)

***Q13. Est-ce que la France à déjà gagné une médaille d’or au cricket ? - (jordan)***
```sql
SELECT Country FROM summer
WHERE Medal='Gold' AND Sport='Criket' AND Country='FRA'
```

![Q13](screen/13.PNG)

***Q14. Combien de médaillés ont un nom de famille de plus de 6 lettres en - excluant les années paires ? (jonathan)***
0

![Q14](screen/14.PNG)

***Q15. Le nombre de médailles d’or par pays en 2012 (Maëlle)***
```sql
SELECT count(Medal),Country FROM summer
WHERE Year=2012 AND Medal='Gold'
GROUP by Country
```

![Q15](screen/15.PNG)

***Q16. Combien de femmes ont remporté des médailles ? (Alicia)***
```sql
SELECT count( Gender) FROM summer
WHERE Gender='Women'
```

![Q16](screen/16.PNG)

***Q17. Entre 1984 et 2012 combien de médailles a gagné la France ? (Abire)***
```sql
SELECT count(Medal) FROM summer
WHERE Year BETWEEN 1984 AND 2012 AND Country='FRA'
```

![Q17](screen/17.PNG)

In [3]:
#

---

Fin